################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ListManagement/ListManagement/bin/Debug/net6.0
/ListManagement/ListManagement/obj
/ListManagement/.vs/ListManagement
/ListManagement/Library.ListManagement/bin/Debug/net6.0
/ListManagement/Library.ListManagement/obj
/ListManagement/Mobile.ListManagement/Mobile.ListManagement/obj
/ListManagement/Mobile.ListManagement/Mobile.ListManagement.Android/obj
/ListManagement/Mobile.ListManagement/Mobile.ListManagement.iOS/obj
/ListManagement/UWPListManagement/bin/x64/Debug
/ListManagement/UWPListManagement/obj
/ListManagement/Library.ListManagement.Standard/bin/Debug/netstandard2.0
/ListManagement/Library.ListManagement.Standard/obj
/ListManagement/Mobile.ListManagement/Mobile.ListManagement/bin/Debug/netstandard2.0/ref
/ListManagement/Mobile.ListManagement/Mobile.ListManagement.Android/bin/Debug
/ListManagement/Mobile.ListManagement/Mobile.ListManagement.iOS/bin/iPhoneSimulator/Debug
/API.ListManagement/API.ListManagement/bin/Debug/net6.0
*.suo
/API.ListManagement/API.ListManagement/obj
/API.ListManagement/.vs/API.ListManagement
